<template>
    <div class="backdrop" @click.self="closeModel">
        <div class="model" :class="{sale: theme ==='sale'}" >
            <slot>default content</slot>
            <div class="actions">
                <slot name="links"></slot>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: [''],


methods:{
    closeModel(){
        this.$emit('close')}
}


}







</script>
<style>
.model{
    width: 400px;
    padding: 20px;
    margin: 100px auto;
    background:white;
    border-radius: 10px;


}
.backdrop{
    top:0;
    position: fixed;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}
h1{
    color: saddlebrown;
    position: relative;
    font: optional;

}
</style>
