<template>
 
  <h1> {{ title }}</h1>
  <p>Welcome here</p>
   <input type="text" ref="name">
   <button @click.alt="handleclick">Click Me(alt)</button> 
   <button @click="handleclick1">Second model</button>
   <div v-if="showModel">
    <Model  theme=""  @close="handleclick">
      <template v-slot:links>
        <a href="#">signin</a><hr>
        <a href="#">logout</a>
      </template>
    <h1>Vue project 

    </h1>
    </Model>
    </div>
    <div v-if="showModelone">
    <Model   @close="handleclick1">
    
    <h1>signup to the website</h1>
    <p>More info of website</p>
    </Model>
    </div>
</template>

<script>

import Model from './components/Model.vue'
export default {
  name: 'App',
  components:{Model},

  data (){
    return{
      title: 'My first vue projects:',
      header:'Ranjan Neupane',
      text:'This is my Vue project',
      showModel:false,
      showModelone:false
      //titles:'Kabindra Rijal'
    }

  },
  methods:{
    handleclick(){
    this.showModel=!this.showModel

    },
     methods:{
    handleclick1(){
    this.showModelone=!this.showModelone

    }
  
  
  }
  }
 
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;

}
h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:blue;

}

</style>
